* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  padding: 30px 40px;
  background-color: bisque;
}
canvas {
  border: 1px solid #ccc;
}

header {
  margin-bottom: 50px;
}

header h1 {
  font-size: 40px;
}

main {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.container h3 {
  text-align: center;
  margin-bottom: 10px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 15px;
}

.slider label {
  min-width: 110px;
}

.slider input {
  min-width: 250px;
}

.slider span {
  min-width: 50px;
}

.color-stats {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stats span {
  min-width: 25px;
}

.color {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

#redCount .color {
  background-color: rgba(255, 0, 0, 0.5);
}

#greenCount .color {
  background-color: rgba(0, 255, 0, 0.5);
}

#blueCount .color {
  background-color: rgba(0, 0, 255, 0.4);
}
